.{
   align-items: center;
}
#formContainer{
   display: none 
}
body{
   background-color: white;
}
table{
   border-collapse: collapse;
}
td{
   padding: 10px;
   text-align: center;
}
th{
   background-color: #4CAF50;
   color: white;
}
.tableButtons{
   vertical-align: center;
   border: none;
   background-color: inherit;
   font-size: 15px;
   text-align: center;
   padding: 10px;
}
.tableButtons:hover{
   font-size: 18px;
   background-color: #4CAF50;
   color: white;
}
tr:nth-child(odd) {background-color: #f2f2f2;}
tr:nth-child(odd):.tableButtons:hover {
   background-color: red;
}